@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #121212;
    color: #e0e0e0;
    line-height: 1.6;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1em;
}

header {
    background-color: #333;
    color: #fff;
    padding: 2em 0;
    text-align: center;
    position: relative;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border: 4px solid #007BFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
}

.profile img:hover {
    transform: scale(1.1);
}

.time-info {
    margin-top: 1em;
    font-size: 1.2em;
}

main {
    padding: 2em 0;
    text-align: center;
}

section h2 {
    font-size: 2em;
    margin-bottom: 1em;
    color: #007BFF;
}

.goals, .links, .about {
    background-color: #1e1e1e;
    padding: 2em;
    margin: 2.3em 0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.goals:hover, .links:hover, .about:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.goals ul, .links ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

.goals li, .links li {
    margin: 0.5em 0;
    font-size: 1.1em;
}

a {
    color: #007BFF;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    text-decoration: underline;
    color: #00aaff;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 1em 0;
    text-align: center;
    position: relative;
    margin-top: 2em;
}

@media (max-width: 768px) {
    .container {
        padding: 0 1em;
    }

    header, main, footer {
        padding: 1em 0;
    }

    .goals, .links {
        padding: 1em;
        margin: 0.5em 0;
    }

    section h2 {
        font-size: 1.5em;
    }

    .time-info {
        font-size: 1em;
    }

    .goals li, .links li {
        font-size: 1em;
    }
}
